* {
    margin: 0;
    padding: 0;
}

html,body {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    max-width: 100vw;
    overflow-x: hidden;
}

.componentes {
    display: flex;
    position: relative;
    font-family:'Rubik', sans-serif; 
}



.container {

    margin: auto;
    width: 90%;
    display: flex;
    z-index: 2;
    gap: 2rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
}




.figura {
    width: 625px;
    height: 80vh;
    border-radius: 0 0 22rem 22rem;
    margin-left: -80px;
    position: absolute;
    z-index: 1;
}
.figura-1 {
    background: linear-gradient(  hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    top: -40px;
    left: -40px;
}

.figura-2 {
    background-color: hsla(293, 100%, 63%, 0.077);
    bottom: -40px;
    right: -205px;
    border-radius: 22rem 22rem 0 0;
}

.phone {
   min-width: 450px;
    margin-left: 20rem;
    width: 450px;
    max-width: 450px;
    border: 20px solid  white;
    box-shadow: 3px 3px 3px 3px rgb(207, 207, 207);
    border-radius: 50px;
    background-color: hsl(270, 20%, 96%);
}




.avatar {
    width: 50px;
    height: 50px;
    border-radius: 50% 50%;
    border: 2px solid white;
    
}
.contenido {
    width: auto;
 background: linear-gradient( to right, hsl(264, 100%, 61%), hsl(293, 100%, 63%));
   border-radius: 20px 20px 10px 10px;
  
  
}
.perfil {
    display: flex;
   padding: 1rem;
   
}
.white {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 30px;
    background-color: white;
    border-radius: 0 0 20px 20px;
}
.name {
    color: white; 
   font-weight: 300; 
   margin-bottom: 0.3rem; 
}
.perfil p {
    color: rgba(255, 255, 255, 0.316); 
   
}



.letter {
    margin-left: 1rem;
}
.flecha {
    margin: 20px;
}
.puntos {
   margin-left: auto;
}
.body {
    height: auto;
    width: 50%;
    padding: 1rem;
    margin: 1rem;
    background-color:  hsla(266, 67%, 86%, 0.456);
    border-radius: 20px;
}
.parrafos {
    color: hsl(276, 55%, 52%);
    display: inline-block;
     background: #fff;
    mix-blend-mode: multiply;
    position: relative;
}
.parrafos:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, hsl(276, 55%, 52%), hsl(271, 15%, 43%));
    mix-blend-mode: screen; 
    position: absolute;
    top: 0;
    left: 0;
}
.animales {
 display: flex;
 justify-content: flex-end;
 gap: 1rem;
 margin-right: 1rem;
}
.dog {
    width: 80px;
    height: 80px;
    border-radius: 20px ;
}
.body-2 {
    width: fit-content ;
    block-size: fit-content;
    height: auto;
    max-width:  50%;
    padding: 1rem;
    margin: 1rem;
    margin-left: auto;
    background-color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 3px 3px rgba(212, 209, 209, 0.566);
}
.parrafos-2 {
    width: fit-content;
    color: hsl(271, 15%, 43%);
}
.circle {
    appearance: none;
    visibility: hidden;
    
   
}
.btn {
    display: flex;
    align-items: center;
    gap: 5px;
    color: white;
    gap: 1rem;
}
.btn::before {
    content: ' ';
    width: 20px;
    height: 20px;
   background-color:transparent ;
   border: 2px solid rgba(255, 255, 255, 0.19);
   display: block;
   border-radius: 50%;
}
.circle:checked + .btn::before {
    background-color: white;


}
.number {
    width: auto;
    padding: 1rem;
    height: auto;
    max-width: 65%;
    background:linear-gradient(to right,hsl(293, 100%, 63%),hsl(264, 100%, 61%));
    border-radius: 20px;
    display: flex;
    margin: 1rem;
    cursor: pointer;
}
.numbers {
    
  margin-left: auto;
  color: #fff;
}
.type-text{
  
    height: 4rem;
    width: 90%;
    background-color: white;
    border-radius: 40px;
    padding-left: 1.5rem;
    border: none;
} 


.mensaje {
    margin-bottom: 1rem;
   display: flex;
   justify-content: center;
   position: relative;
}
.boton {
   position: absolute;
   right: 1rem;
   top: 50%;
   transform: translateY(-50%);
   border-radius: 60% 60%;
   padding: 5px 10px ;
   background-color: hsl(271, 36%, 24%);
   border: none;
   cursor: pointer;
   
}
.arrow {
    transform: rotate(180deg);
}
.section {
    display: flex;
    align-items: center;
   margin-left: 5rem;
    

}




.simple {
    margin-bottom: 1rem;
    margin-left: 1rem;
    color:  hsl(271, 36%, 24%);
    font-size: 2rem;
}

.stay {
    margin-left: 1rem;
    line-height: 30px;
    font-size: 18px;
    color:  hsl(202, 4%, 61%);
    max-width: 70%;
}

@media screen and (max-width:768px) {
    .componentes {
        display: grid;
        grid-template-columns:  1fr;
    }

    .container {
        flex-direction: column;
        align-items: center;
    }

    .phone {
        margin-left: 0;
        min-width: 300px;
        width: 300px;
        max-width: 300px;
        border: 16px solid white;

    }

    .name {
        font-size: 1.1rem;
    }

    .perfil p {
        font-size: 0.9rem;
    }

    .parrafos {
        font-size: 14px;
    }

    .body {
       width: 64%;
    }

    .dog {
        width: 52px;
        height: 58px;
        border-radius: 9px;
    }

    .parrafos-2 {
        font-size: 14px;
        
    }

    .body-2 {
       display: flex;
       justify-content: flex-end;
       max-width: 65%;
       border-radius: 19px;
       padding: 10px;
    }

    .btn {
        font-size: 15px;
        
    }

    .numbers {
        font-size: 20px;
    }

    .number {
        padding: 0.9rem;
        max-width: 79%;
    }

    .type-text {
        height: 3rem;
        width: 82%;
    }

    .boton {
        right: 1.5rem;
    }

    .simple {
        text-align: center;
        margin-left: 0;
    }

    .stay {
        text-align: center;
        margin-right: auto;
        margin-left: auto;
        max-width: 90%;
    }

    .section {
        margin-left: 0;
    }

    .avatar {
        width: 30px;
        height: 30px;
        border-radius: 50% 50%;
    }

    .flecha {
        margin: 8px 20px;
    }

    .perfil {
        padding: 10px;
    }

    .puntos {
        margin-left: 2rem;
    }

    .white {
        height: 24px;
        width: 180px;
    }

    .figura-1 {
        left: -75%;
    }

    .figura-2 {
        right: -351px;
        background-color:  hsla(293, 100%, 63%, 0.219);
    }
    
    
}

@media screen and (min-width: 500px) and (max-width : 700px){
    .figura-1 {
        left: -54%;
    }
    
}

@media screen and (min-width: 600px) and (max-width : 1040px){
    .phone {
        min-width: 321px;
        width: 350px;
        max-width: 350px;
    }

    .figura-2 {
        bottom: -306px;
    }
    
    
}
